@big-size: 24px;
@middle-size: 12px;
@small-size: 8px;

.big-margin{
  margin-top: @big-size;
}
.middle-margin{
  margin-top: @middle-size;
}
.small-margin{
  margin-top: @small-size;
}


.slider{
  position: absolute;

  width: 100%;
  height: 400px;

  margin-top: 50px;

  background-image: url(1.jpg);

  z-index: 0;
}
.main-content-block{
  position: absolute;

  width: 100%;
  min-height: 800px;

  margin-top: 450px;

  -webkit-box-shadow: 0px -10px 28px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px -10px 28px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0px -10px 28px 0px rgba(50, 50, 50, 0.45);

  z-index: 1;
}

.block-title{
  color: #CC0000;
  font-size: 24px;
  font-family: "Open Sans Light"

}

.block-description{
  color: black;
  font-size: 14px;
  font-family: "Open Sans Light"
}

.project-example{
  height: 300px;

  margin-top: 12px;
  background-color: gray;
}

.achiev-example{
  height: 200px;

  margin-top: 12px;
  background-color: gray;
}