@font-face {
  font-family: MainFont;
  src: url(fonts/mainfont.otf);
}
* {
  margin: 0 auto;
  padding: 0;
  font-family: MainFont;
}
html,
body {
  background-color: #d9e0e3;
  width: 100%;
  height: 100%;
}
#menu {
  float: left;
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #424242;
  margin-left: -12.5%;
}
#menu * {
  color: white;
}
#menu:hover {
  margin-left: 0;
}
#menu .title {
  width: 100%;
  font-size: 120%;
  padding: 3% 0 0 0;
  text-align: center;
}
#menu .links {
  width: 100%;
  height: 95%;
  margin-top: 5%;
}
#menu .links .link {
  width: 100%;
  height: 5%;
  padding: 10% 0 0 0;
  text-align: center;
}
#menu .links .link:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}
#menu .links .link:hover div {
  display: block;
}
#menu .links .link .sub-links {
  width: 100%;
  background-color: #424242;
  display: none;
  margin: -18.1% 0 0 100%;
}
#menu .links .link .sub-links * {
  padding-top: 5%;
  padding-bottom: 5%;
}
#menu .links .link .sub-links *:hover {
  background-color: #4c4c4c;
}
#window {
  float: left;
  width: 98%;
  margin-left: 2%;
  height: 100%;
}
#window * {
  color: #575757;
}
#window * .title {
  font-size: 150%;
  padding: 1% 0 0 5%;
}
#window * .text {
  font-size: 110%;
  padding: 0.5% 0 2% 0;
  width: 90%;
  text-align: justify;
  line-height: 150%;
}
#window .big_line {
  width: 100%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .square {
  height: 33.325%;
  width: 19.995%;
  float: left;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .square:hover {
  background-color: lightblue;
  cursor: pointer;
  -webkit-background-size: 40%;
  background-size: 40%;
}
#window .square-text {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 130%;
  padding: 5% 0 0 0;
}
#window .squareArticle {
  height: 33.325%;
  width: 33.325%;
  float: left;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .squareArticle:hover {
  background-color: lightblue;
  cursor: pointer;
  -webkit-background-size: 22%;
  background-size: 22%;
}
#window .squareArticle-text {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 130%;
  padding: 5% 0 0 0;
}
#window #add_article {
  background-image: url(img/note.svg);
}
#window #folder {
  background-image: url(img/folder.svg);
}
#window #plugin {
  background-image: url(img/plugin.svg);
}
#window #primitives {
  background-image: url(img/primitives.svg);
}
#window #settings {
  background-image: url(img/settings.svg);
}
#window #list {
  background-image: url(img/list.svg);
}
#window #pattern {
  background-image: url(img/pattern.svg);
}
#window .rectangle {
  float: left;
  height: 49.9875%;
  width: 59.985%;
}
#window .rectangle:hover {
  background-color: rgba(197, 204, 207, 0.25);
}
#window .top {
  height: 10%;
  width: 100%;
}
#window .top .title {
  padding-left: 10%;
  float: left;
}
#window .top .icons {
  float: right;
  height: 100%;
  width: 6%;
}
#window .top .icons #add {
  float: left;
  width: 115%;
  height: 100%;
  background-image: url(img/add.svg);
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#window .top .icons #add:hover {
  cursor: pointer;
  -webkit-background-size: 37.5%;
  background-size: 37.5%;
}
#window .window {
  height: 90%;
  width: 97%;
  overflow-y: visible;
  overflow-x: hidden;
}
#window .window .note {
  width: 97%;
  margin: 1% 0 0 10%;
  padding: 1%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .big-square {
  float: right;
  height: 49.9875%;
  width: 37.9905%;
}
#window .big-square:hover {
  background-color: rgba(197, 204, 207, 0.25);
}
#window .big-square .top {
  height: 10%;
  width: 100%;
}
#window .big-square .top .title {
  padding-left: 14%;
  float: left;
}
#window .big-square .window {
  height: 90%;
  width: 100%;
  overflow-y: visible;
  overflow-x: hidden;
}
#window .big-square .window .article {
  float: left;
  width: 90%;
  margin: 2.5% 0 0 16%;
  padding: 1%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
