@maincolor: rgb(217, 224, 227); //main background color
@hoverColor: rgba(197,204,207,0.25); //hover on main background color
@menucolor: rgb(66, 66, 66); //menu background color
@menuhovercolor: rgb(76, 76, 76); //menu hover color
@darktextcolor: #575757; //main text color
//size for math calcs
@full-percent: 100%;
@half-percent: @full-percent / 2;
@part-percent: @half-percent / 2;
@min-percent: @full-percent / 100;
@min-border-size: 1px;
//set the paddings from top-bot, left-right;
.padding(@ptop, @pbot, @pleft, @pright){
  padding: @ptop @pright @pbot @pleft;
}
//transparent light borders
.lightBorderBottom(){
  border-bottom: @min-border-size solid rgba(200,200,200,0.75);
}
.lightBordersRightBottom(){
  border-right: @min-border-size solid rgba(200,200,200,0.75);
  border-bottom: @min-border-size solid rgba(200,200,200,0.75);
}
//set active background like an icon on a main page
.backgroundAsIcon(){
  background-size: @half-percent @half-percent;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face{
  font-family: MainFont;
  src: url(fonts/mainfont.otf);
}
*{
  margin: 0 auto;
  padding: 0;
  font-family: MainFont;
}
html, body{
  background-color: @maincolor;
  width: @full-percent;
  height: @full-percent;
}

#menu{
  float: left;
  position: fixed;
  width: @min-percent * 15;
  height: @full-percent;
  background-color: @menucolor;
  margin-left: -@min-percent * 12.5;

  *{
    color: white;
  }

  &:hover{
    margin-left: 0;
  }

 .title{
    width: @full-percent;
    font-size: @full-percent + @part-percent - 5%;
    .padding(@min-percent * 3, 0, 0, 0);
    text-align: center;
  }

  .links{
    width: @full-percent;
    height: @full-percent - 5 * @min-percent;
    margin-top: 5 * @min-percent;

    .link {
      width: @full-percent;
      height: @min-percent * 5;
      .padding(@min-percent * 10, 0, 0, 0);
      text-align: center;

      &:hover{
        background-color: @menuhovercolor;
        cursor: pointer;

        div{
          display: block;
        }
      }
      .sub-links{
        width: @full-percent;
        background-color: @menucolor;
        display: none;
        margin: -@min-percent * 18.1 0 0 @min-percent * 100;

        * {
          padding-top: @min-percent * 5;
          padding-bottom: @min-percent * 5;

          &:hover{
            background-color: @menuhovercolor;
          }
        }
      }
    }
  }

}

#window{
  float: left;
  width: @full-percent - @min-percent * 2;
  margin-left: @min-percent * 2;
  height: @full-percent;

  * {
    color: @darktextcolor;

    .title{
      font-size: @full-percent + @half-percent;
      .padding(@min-percent,0,@min-percent * 5,0);
    }

    .text{
      font-size: @full-percent + @min-percent * 10%;
      .padding(@min-percent * 0.5, @min-percent * 2, 0, 0);
      width: @full-percent - @min-percent * 10;
      text-align: justify;
      line-height: @full-percent + @half-percent;
    }
  }

  .big_line{
    width: @full-percent;
    .lightBorderBottom;
  }

  @square-height: @part-percent*1.333;
  .square{
    height: @square-height;
    width: @square-height*0.6;
    float: left;
    .backgroundAsIcon;
    .lightBorderBottom;

    &:hover{
      background-color: lightblue;
      cursor: pointer;
      background-size: @half-percent - 10 * @min-percent;
    }

    &-text{
      width: @full-percent;
      height: @full-percent;
      text-align: center;
      font-size: @full-percent + 30 * @min-percent;
      .padding(@min-percent * 5, 0, 0, 0);
    }
  }
  #add_note{
    background-image: url(img/note.svg);
  }
  #folder{
    background-image: url(img/folder.svg);
  }
  #plugin{
    background-image: url(img/plugin.svg);
  }
  #primitives{
    background-image: url(img/primitives.svg);
  }
  #settings{
    background-image: url(img/settings.svg);
  }
  .rectangle{
    float: left;
    height: @square-height*1.5;
    width: @square-height*1.8;

    &:hover{
      background-color: @hoverColor;
    }
  }
  .top{
    height: 10 * @min-percent;
    width: @full-percent;

    .title{
      padding-left: 10 * @min-percent;
      float: left;
    }
    .icons{
      float: right;
      height: @full-percent;
      width: 6 * @min-percent;

      #add{
        float: left;
        width: @full-percent*1.15;
        height: @full-percent;
        background-image: url(img/add.svg);
        .backgroundAsIcon;

        &:hover{
          cursor: pointer;
          background-size: @part-percent*1.5;
        }
      }
    }
  }
  .window{
    height: @full-percent - 10 * @min-percent;
    width: @full-percent - 3 * @min-percent;
    overflow-y: visible;
    overflow-x: hidden;

    .note{
      width: @full-percent - 3 * @min-percent;
      margin: @min-percent 0 0 10 * @min-percent;
      padding: @min-percent;
      .lightBorderBottom
    }
  }
  .big-square{
    float: right;
    @height: @square-height*1.5;
    height: @height;
    width: @height*0.76;

    &:hover{
      background-color: @hoverColor;
    }

    .top{
      height: @min-percent * 10;
      width: @full-percent;

      .title {
        padding-left: @min-percent * 14;
        float: left;
      }
    }
    .window{
      height: @full-percent - @min-percent * 10;
      width: @full-percent;
      overflow-y: visible;
      overflow-x: hidden;

      .article{
        float: left;
        width: @full-percent - @min-percent * 10;
        margin: @min-percent * 2.5 0 0 @min-percent * 16;
        padding: @min-percent;
        .lightBorderBottom;
      }
    }
  }
}