@maincolor: rgb(217, 224, 227); //main background color
@hoverColor: rgba(197,204,207,0.25); //hover on main background color
@menucolor: rgb(66, 66, 66); //menu background color
@menuhovercolor: rgb(76, 76, 76); //menu hover color
@darktextcolor: #575757; //main text color
@bordercolor: rgba(200,200,200,0.75); //border color
@borderhovercolor: rgba(150,150,150,0.8); //border hover color
//size for math calcs
@full-percent: 100%;
@half-percent: @full-percent / 2;
@part-percent: @half-percent / 2;
@min-percent: @full-percent / 100;
@min-border-size: 1px;
//set the paddings from top-bot, left-right;
.padding(@ptop, @pbot, @pleft, @pright){
  padding: @ptop @pright @pbot @pleft;
}
//transparent light borders
.lightBorderBottom(){
  border-bottom: @min-border-size solid @bordercolor;
}
.lightBordersRightBottom(){
  border-right: @min-border-size solid @bordercolor;
  border-bottom: @min-border-size solid @bordercolor;
}
//set active background like an icon on a main page
.backgroundAsIcon(){
  background-size: @half-percent @half-percent;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face{
  font-family: MainFont;
  src: url(fonts/mainfont.otf);
}
*{
  margin: 0 auto;
  padding: 0;
  font-family: MainFont;
}
html, body{
  background-color: @maincolor;
  width: @full-percent;
  height: @full-percent;
}
textarea{
  resize: none;
}
input[type="submit"]{
  width: @min-percent * 10;
  height: @min-percent * 20;
  padding-top: @min-percent * 0.5;
  border-radius: 10px;
  outline: none;
  border: @min-border-size solid @bordercolor;
  color: @darktextcolor;

  &:hover{
    background-color: @hoverColor;
  }
}
select{
  padding-top: @min-percent;
  margin-left: @min-percent;
  margin-top: @min-percent * 0.5;
}
.left {
  float: left;
}
.right {
  float: right;
}

#menu{
  position: fixed;
  width: @min-percent * 15;
  height: @full-percent;
  background-color: @menucolor;
  margin-left: -@min-percent * 12.5;

  *{
    color: white;
  }

  &:hover{
    margin-left: 0;
  }

 .title{
    width: @full-percent;
    font-size: @full-percent + @part-percent - 5%;
    .padding(@min-percent * 3, 0, 0, 0);
    text-align: center;
  }

  .links{
    width: @full-percent;
    height: @full-percent - 5 * @min-percent;
    margin-top: 5 * @min-percent;

    .link {
      width: @full-percent;
      height: @min-percent * 5;
      .padding(@min-percent * 10, 0, 0, 0);
      text-align: center;

      &:hover{
        background-color: @menuhovercolor;
        cursor: pointer;

        div{
          display: block;
        }
      }
      .sub-links{
        width: @full-percent;
        background-color: @menucolor;
        display: none;
        margin: -@min-percent * 18.1 0 0 @min-percent * 100;

        * {
          padding-top: @min-percent * 5;
          padding-bottom: @min-percent * 5;

          &:hover{
            background-color: @menuhovercolor;
          }
        }
      }
    }
  }

}

#window{
  width: @full-percent - @min-percent * 2;
  margin-left: @min-percent * 2;
  height: @full-percent;

  * {
    color: @darktextcolor;

    .title{
      font-size: @full-percent + @half-percent;
      .padding(@min-percent,0,@min-percent * 5,0);
    }

    .text{
      font-size: @full-percent + @min-percent * 10%;
      .padding(@min-percent * 0.5, @min-percent * 2, 0, 0);
      width: @full-percent - @min-percent * 10;
      text-align: justify;
      line-height: @full-percent + @half-percent;
    }
  }

  .big_line{
    width: @full-percent;
    .lightBorderBottom;
  }

  @square-height: @part-percent * 1.333;
  .square{
    height: @square-height;
    width: @square-height * 0.6;
    .backgroundAsIcon;
    .lightBorderBottom;

    &:hover{
      background-color: lightblue;
      cursor: pointer;
      background-size: @half-percent - 10 * @min-percent;
    }

    &-text{
      width: @full-percent;
      height: @full-percent;
      text-align: center;
      font-size: @full-percent + 30 * @min-percent;
      .padding(@min-percent * 5, 0, 0, 0);
    }
  }
  .squareArticle{
    height: @square-height;
    width: @square-height;
    .backgroundAsIcon;
    .lightBorderBottom;

    &:hover{
      background-color: lightblue;
      cursor: pointer;
      background-size: @half-percent - 28 * @min-percent;
    }

    &-text{
      width: @full-percent;
      height: @full-percent;
      text-align: center;
      font-size: @full-percent + 30 * @min-percent;
      .padding(@min-percent * 5, 0, 0, 0);
    }
  }
  #add_article{
    background-image: url(img/note.svg);
  }
  #folder{
    background-image: url(img/folder.svg);
  }
  #plugin{
    background-image: url(img/plugin.svg);
  }
  #primitives{
    background-image: url(img/primitives.svg);
  }
  #settings{
    background-image: url(img/settings.svg);
  }
  #list{
    background-image: url(img/list.svg);
  }
  #pattern{
    background-image: url(img/pattern.svg);
  }
  .rectangle{
    height: @square-height*1.5;
    width: @square-height*1.8;

    &:hover{
      background-color: @hoverColor;
    }
  }
  .top{
    height: 10 * @min-percent;
    width: @full-percent;

    .title{
      float: left;
      padding-left: 10 * @min-percent;

      textarea{
        padding-top: 2 * @min-percent;
      }
    }
    .icons{
      height: @full-percent;
      width: 6 * @min-percent;

      #add{
        width: @full-percent*1.15;
        height: @full-percent;
        background-image: url(img/add.svg);
        .backgroundAsIcon;

        &:hover{
          cursor: pointer;
          background-size: @part-percent*1.5;
        }
      }
    }
  }
  .window{
    height: @full-percent - 10 * @min-percent;
    width: @full-percent - 3 * @min-percent;
    overflow-y: visible;
    overflow-x: hidden;

    .note{
      width: @full-percent - 3 * @min-percent;
      margin: @min-percent 0 0 10 * @min-percent;
      padding: @min-percent;
      .lightBorderBottom
    }

    .meta_text{
      padding-left: @min-percent * 9;
      padding-bottom: @min-percent;
    }

    form:extend(.note){
      padding-top: 2 * @min-percent;
      textarea{
        width: @full-percent - 10 * @min-percent;
        margin-left: 9 * @min-percent;
      }
      input[type="submit"]{
        float: right;
        margin-top: @min-percent;
        margin-right: @min-percent;
      }
      select{
        width: @half-percent;
      }
    };


  }
  .big-square{
    @height: @square-height*1.5;
    height: @height;
    width: @height*0.76;

    &:hover{
      background-color: @hoverColor;
    }

    .top{
      float: left;
      height: @min-percent * 10;
      width: @full-percent;

      .title {
        padding-left: @min-percent * 14;
      }
    }
    .window{
      height: @full-percent - @min-percent * 10;
      width: @full-percent;
      overflow-y: visible;
      overflow-x: hidden;

      .article{
        float: left;
        width: @full-percent - @min-percent * 10;
        margin: @min-percent * 2.5 0 0 @min-percent * 16;
        padding: @min-percent;
        .lightBorderBottom;
      }

      .control-squares{
        width: @part-percent - 5 * @min-percent;
        height: @part-percent - 5 * @min-percent;
        text-align: center;
        padding-top: 7.5 * @min-percent;
        color: transparent;
        .lightBorderBottom;
        .backgroundAsIcon;

        &:hover{
          background-size: 0 0;
          background-color: rgba(200,100,100, 0.5);
          cursor: pointer;
          color: @darktextcolor;
        }
      }

      #save_square{
        width: @full-percent;
        height: @full-percent;
        .backgroundAsIcon;
      }
      .locked{
        width: @full-percent;
        height: @full-percent;
        background-image: url(img/locked.svg);
        .backgroundAsIcon;
        cursor: not-allowed;
      }
      .unlocked{
        width: @full-percent;
        height: @full-percent;
        background-image: url(img/unlocked.svg);
        .backgroundAsIcon;
        cursor: pointer;
      }

      #add_1_title{
        background-image: url(img/special_tags/H1.png);
      }
      #add_2_title{
        background-image: url(img/special_tags/H2.png);
      }
      #add_3_title{
        background-image: url(img/special_tags/H3.png);
      }
      #add_4_title{
        background-image: url(img/special_tags/H4.png);
      }
      #add_5_title{
        background-image: url(img/special_tags/H5.png);
      }
      #add_p{
        background-image: url(img/special_tags/paragraph.png);
      }
      #add_b{
        background-image: url(img/special_tags/bold.png);
      }
      #add_i{
        background-image: url(img/special_tags/italic.png);
      }
      #add_u{
        background-image: url(img/special_tags/underline.png);
      }
      #add_s{
        background-image: url(img/special_tags/strikeout.png);
      }
      #add_img{
        background-image: url(img/special_tags/img.png);
      }
      #add_href{
        background-image: url(img/special_tags/href.png);
      }
      #add_blockquote{
        background-image: url(img/special_tags/blockquote.png);
      }
      #add_abbr{
        background-image: url(img/special_tags/abbr.png);
      }
      #add_sup {
        background-image: url(img/special_tags/sup.png);
      }
    }
  }
}