@font-face {
  font-family: MainFont;
  src: url(fonts/mainfont.otf);
}
* {
  margin: 0 auto;
  padding: 0;
  font-family: MainFont;
}
html,
body {
  background-color: #d9e0e3;
  width: 100%;
  height: 100%;
}
textarea {
  resize: none;
}
input[type="submit"] {
  width: 10%;
  height: 20%;
  padding-top: 0.5%;
  border-radius: 1%;
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.75);
  color: #575757;
}
input[type="submit"]:hover {
  background-color: rgba(197, 204, 207, 0.25);
}
select {
  padding-top: 1%;
  margin-left: 1%;
  margin-top: 0.5%;
}
.left {
  float: left;
}
.right {
  float: right;
}
#menu {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #424242;
  margin-left: -12.5%;
}
#menu * {
  color: white;
}
#menu:hover {
  margin-left: 0;
}
#menu .title {
  width: 100%;
  font-size: 120%;
  padding: 3% 0 0 0;
  text-align: center;
}
#menu .links {
  width: 100%;
  height: 95%;
  margin-top: 5%;
}
#menu .links .link {
  width: 100%;
  height: 5%;
  padding: 10% 0 0 0;
  text-align: center;
}
#menu .links .link:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}
#menu .links .link:hover div {
  display: block;
}
#menu .links .link .sub-links {
  width: 100%;
  background-color: #424242;
  display: none;
  margin: -18.1% 0 0 100%;
}
#menu .links .link .sub-links * {
  padding-top: 5%;
  padding-bottom: 5%;
}
#menu .links .link .sub-links *:hover {
  background-color: #4c4c4c;
}
#window {
  width: 98%;
  margin-left: 2%;
  height: 100%;
}
#window * {
  color: #575757;
}
#window * .title {
  font-size: 150%;
  padding: 1% 0 0 5%;
}
#window * .text {
  font-size: 110%;
  padding: 0.5% 0 2% 0;
  width: 90%;
  text-align: justify;
  line-height: 150%;
}
#window .big_line {
  width: 100%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .square {
  height: 33.325%;
  width: 19.995%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .square:hover {
  background-color: lightblue;
  cursor: pointer;
  -webkit-background-size: 40%;
  background-size: 40%;
}
#window .square-text {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 130%;
  padding: 5% 0 0 0;
}
#window .squareArticle {
  height: 33.325%;
  width: 33.325%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .squareArticle:hover {
  background-color: lightblue;
  cursor: pointer;
  -webkit-background-size: 22%;
  background-size: 22%;
}
#window .squareArticle-text {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 130%;
  padding: 5% 0 0 0;
}
#window #add_article {
  background-image: url(img/note.svg);
}
#window #folder {
  background-image: url(img/folder.svg);
}
#window #plugin {
  background-image: url(img/plugin.svg);
}
#window #primitives {
  background-image: url(img/primitives.svg);
}
#window #settings {
  background-image: url(img/settings.svg);
}
#window #list {
  background-image: url(img/list.svg);
}
#window #pattern {
  background-image: url(img/pattern.svg);
}
#window .rectangle {
  height: 49.9875%;
  width: 59.985%;
}
#window .rectangle:hover {
  background-color: rgba(197, 204, 207, 0.25);
}
#window .rectangle .top {
  height: 10%;
  width: 100%;
}
#window .rectangle .top .title {
  float: left;
  padding-left: 10%;
}
#window .rectangle .top .title textarea {
  padding-top: 2%;
}
#window .rectangle .top .icons {
  height: 100%;
  width: 6%;
}
#window .rectangle .top .icons #add {
  width: 115%;
  height: 100%;
  background-image: url(img/add.svg);
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#window .rectangle .top .icons #add:hover {
  cursor: pointer;
  -webkit-background-size: 37.5%;
  background-size: 37.5%;
}
#window .rectangle .window {
  height: 90%;
  width: 97%;
  overflow-y: visible;
  overflow-x: hidden;
}
#window .rectangle .window .note {
  width: 97%;
  margin: 1% 0 0 10%;
  padding: 1%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .rectangle .window .meta_text {
  padding-left: 9%;
  padding-bottom: 1%;
}
#window .rectangle .window .grid {
  float: left;
  height: 50%;
  width: 20%;
}
#window .rectangle .window .grid:hover {
  background-color: rgba(200, 100, 100, 0.3);
  cursor: pointer;
  line-height: normal;
}
#window .rectangle .window .grid:hover .text {
  display: none;
}
#window .rectangle .window .grid:hover .grid_element {
  display: block;
}
#window .rectangle .window .grid .text {
  margin-top: 35%;
  text-align: center;
}
#window .rectangle .window .grid .grid_element {
  float: left;
  height: 50%;
  display: none;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#window .rectangle .window .grid .buttons_grid_top {
  width: 100%;
  background-image: url(img/eye.svg);
}
#window .rectangle .window .grid .buttons_grid_top:hover {
  background-color: rgba(197, 204, 207, 0.25);
  -webkit-background-size: 22%;
  background-size: 22%;
}
#window .rectangle .window .grid .buttons_grid_left {
  width: 50%;
  background-image: url(img/note.svg);
}
#window .rectangle .window .grid .buttons_grid_left:hover {
  background-color: rgba(197, 204, 207, 0.25);
  -webkit-background-size: 43%;
  background-size: 43%;
}
#window .rectangle .window .grid .buttons_grid_right {
  width: 50%;
  background-image: url(img/delete.svg);
}
#window .rectangle .window .grid .buttons_grid_right:hover {
  background-color: rgba(197, 204, 207, 0.25);
  -webkit-background-size: 43%;
  background-size: 43%;
}
#window .rectangle .window form {
  padding-top: 2%;
}
#window .rectangle .window form textarea {
  width: 90%;
  margin-left: 9%;
}
#window .rectangle .window form input[type="submit"] {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
}
#window .rectangle .window form select {
  width: 50%;
}
#window .big-square {
  height: 49.9875%;
  width: 37.9905%;
}
#window .big-square:hover {
  background-color: rgba(197, 204, 207, 0.25);
}
#window .big-square .top {
  float: left;
  height: 10%;
  width: 100%;
}
#window .big-square .top .title {
  padding-left: 14%;
}
#window .big-square .window {
  height: 90%;
  width: 100%;
  overflow-y: visible;
  overflow-x: hidden;
}
#window .big-square .window .article {
  float: left;
  width: 90%;
  margin: 2.5% 0 0 16%;
  padding: 1%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}
#window .big-square .window .control-squares {
  width: 20%;
  height: 20%;
  text-align: center;
  padding-top: 7.5%;
  color: transparent;
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#window .big-square .window .control-squares:hover {
  -webkit-background-size: 0 0;
  background-size: 0 0;
  background-color: rgba(200, 100, 100, 0.5);
  cursor: pointer;
  color: #575757;
}
#window .big-square .window #save_square {
  width: 100%;
  height: 100%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#window .big-square .window .locked {
  width: 100%;
  height: 100%;
  background-image: url(img/locked.svg);
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: not-allowed;
}
#window .big-square .window .unlocked {
  width: 100%;
  height: 100%;
  background-image: url(img/unlocked.svg);
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#window .big-square .window #add_1_title {
  background-image: url(img/special_tags/H1.png);
}
#window .big-square .window #add_2_title {
  background-image: url(img/special_tags/H2.png);
}
#window .big-square .window #add_3_title {
  background-image: url(img/special_tags/H3.png);
}
#window .big-square .window #add_4_title {
  background-image: url(img/special_tags/H4.png);
}
#window .big-square .window #add_5_title {
  background-image: url(img/special_tags/H5.png);
}
#window .big-square .window #add_p {
  background-image: url(img/special_tags/paragraph.png);
}
#window .big-square .window #add_b {
  background-image: url(img/special_tags/bold.png);
}
#window .big-square .window #add_i {
  background-image: url(img/special_tags/italic.png);
}
#window .big-square .window #add_u {
  background-image: url(img/special_tags/underline.png);
}
#window .big-square .window #add_s {
  background-image: url(img/special_tags/strikeout.png);
}
#window .big-square .window #add_img {
  background-image: url(img/special_tags/img.png);
}
#window .big-square .window #add_href {
  background-image: url(img/special_tags/href.png);
}
#window .big-square .window #add_blockquote {
  background-image: url(img/special_tags/blockquote.png);
}
#window .big-square .window #add_abbr {
  background-image: url(img/special_tags/abbr.png);
}
#window .big-square .window #add_sup {
  background-image: url(img/special_tags/sup.png);
}
